@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    border: none;
}

/* Header */

header {
    padding-top: 30px;
    padding-bottom: 18px;
    border-bottom: #deecffb5 solid 1px;
}

.content-header, .logo-content-informations, .logo, .unordered-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#comunidade {
    background: none;
    border: none;
}

.unordered-list {
    gap: 32px;
}

.net {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 72px;
    color: #2B2B39;
}

.login {
    background-color: #217BF4; 
    color: white;
    border: none;
    padding: 18px 43px;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
}

/*banner area*/

.areas {
    display: flex;
    justify-content: space-around;
    background-image:  linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);;
    padding-bottom: 82px;
}

.content-informations {
    padding-top: 125px;
    max-width: 515px;
}

.up  {
    border-radius: 8px;
    background: #deecffb5;  
    display: inline-block;
    padding: 12px 30px;
}

.up p {
    color: #217BF4;
}

.title p {
    font-size: 56px;
    font-weight: 700;
    color: #0A093D;
    padding-top: 20px;
}

.more {
    font-size: 16px;
    color: #656464;
    font-weight: 300;
    padding-top: 18px;
    padding-bottom: 42px;
}

.about-more {
    font-weight: 300;
    margin-right: 18px;
}

.invite {
    color: #217BF4;
    background-color: white;
    border: #217BF4 solid 1px;
}

/* reason-area */

.nett {
    background: none;
    height: 693px;
    align-items: center;
    padding: 0;
}

.left {
    width: 406px;
}

.join p {
    font-size: 36px;
}

.reasons ul li img {
    background-color: #deecffb5;
    padding: 5px;
    border-radius: 100px;
    margin-right: 18px;
}

.reasons ul li { 
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.right {
    display: flex;
    gap: 20px;
    padding-top: 130px;
}

.img-one {
    padding-top: 53px;
}

.img-two {
    padding-bottom: 30px;
}

/* status */

.boxes {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    flex-wrap: wrap;
}

.box-raiting, .box-award {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    border-radius: 14px; 
    padding: 40px 16px 40px 45px;
}

.box-raiting {
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
}

.box-award {
    margin-left: 24px;
    margin-right: 93px;
    background-color: white;
    border: solid 1px #deecffb5;
}

.blue {
    color: #217BF4;
}

.title-up p {
    color: #0A093D;
    font-size: 20px;
    font-weight: 500;
}

#status .more { 
    padding: 0;
    color: #8C8C8C;
    font-weight: 400;
    line-height: 26px;
}

.middle-area, .title-up p  {
    display: flex;
    align-items: center;
    gap: 16px;
}

.middle-area p {
    color: #5D5B70;
    font-weight: 500;
}

.github p {
    font-weight: 400;
}

.text {
    max-width: 274px;
}

.go-awards a p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.discovery  {
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
    margin-top: 38px;
}

.connecting .featured {
    font-size: 36px;
    font-weight: 700;
    color: #0A093D;
    max-width: 381px;
    margin-top: 10px;
    margin-bottom: 18px;
}

.achive {
    max-width: 365px;
}

/*community*/

#community {
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
    margin-top: 190px;
}

.up-com {
    text-align: center;
}

.about-main-community p {
    max-width: 421px;
    margin: 0 auto;
    color: #656464;
    font-weight: 400;
    line-height: 28px;
    padding-top: 0;
}            

.communty-main {
    color: #0A093D;
    font-weight: 700;
    font-size: 36px;
}

.table {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.table-left, .table-rigth {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 14px;
    height: 182px;
    padding-right: 65px;
}

.shadows {
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.information-card p {
    max-width: 315px;
}

.title-card {
    padding: 0;
}

.custom-module {
    padding-top: 19px;
}

.information-card p {
    color: #656464;
    line-height: 26px;
}

/*member active*/

.coms p{
    max-width: 454px;
}

ul li a, .active {
    color: #2F2C4A;
}

.people {
    display: flex;
    gap: 30px;
}

.member-selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: #deecffb5;
    border-radius: 14px;
    width: 470px;
    margin: 0 auto;
}

.active {
    padding: 20px 50px;
    margin: 8px 0px;
    font-size: 16px;
    font-weight: 500;
    font-weight: 500;
}

.person {
    width: 316px;
    background: #FFFFFF;
    border: 2px solid rgba(243, 243, 243, 0.5);
    border-radius: 14px;
    margin-top: 44px;
    margin-bottom: 57px;
}

.background-in-image{
    padding: 36px 57px;
    padding-bottom: 65px;    
}

.abs {
    position: absolute;
    z-index: 1;
}

#users {
    margin-top: 44px;
    margin-bottom: 57px;
}

.per {
    position: relative;
    top: 14px;
    left: 13px;
}

.texts {
    text-align: center;
    padding-right: 25px;
}

.name {
    font-weight: bold;
    font-size: 24px;
    color: #2F2C4A;
}

.active:hover {
    background-color: #217BF4; 
    color: white;
    border: none;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    font-weight: 500;
    transition: 0.5s;
}

/*Download-Areas*/

.all-content-download {
    background-color: #E5F0FD;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding-top: 45px;
    height: 562px;
}

.chap-chop {
    max-width: 318px;
}

.title-members {
    padding-top: 130px;
}

/*latest-news*/

.category-news {
    display: flex;
    gap: 75px;
    justify-content: center;
    flex-wrap: wrap;
}

.information-news {
    display: flex;
    gap: 14px;
    align-items: end;
}

.information-news p {
    color: #2F2C4A;
    font-size: 20px;
    font-weight: 600;
    width: 252px;
}

.information-news img {
    padding-bottom: 31px;
}

.more-information {
    display: flex;
    align-items: center;
}

.more-information p {
    font-size: 16px;
}